streamlit
pymupdf
pytesseract
pillow
python-dateutil
pydantic
google-generativeai
streamlit-extras
numpy
streamlit-option-menu
fastapi
uvicorn
python-multipart
google-auth-oauthlib
google-api-python-client
